[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pymysql = "*"
requests = "*"
cryptography = "*"
pillow = "*"
dbutils = "*"
flask-apscheduler = "*"

[requires]
python_version = "3.8"
